.container {
  background-color: rgb(24, 37, 73);
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.avatar-image {
  max-width: 150%;
  border-radius: 50%;
  margin-bottom: 20px; /* Agregar espacio arriba de la imagen */
}

.ion-label {
  margin-top: 20px; /* Agregar espacio arriba del correo del usuario */
}

.letras-inicio {
  font-size: 200%;
  margin-top: 20px; /* Agregar espacio arriba del título "Bienvenido" */
}

.custom-button {
  border-radius: 25px;
  border: 4px solid white;
  background-color: transparent !important;
  color: white;
  margin-top: 20px; /* Agregar espacio arriba de los botones */
  max-width: 80%;
}

.custom-button:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: white;
}

ion-button {
  --background: transparent !important;
  --border-radius: 0 !important;
  --border-width: 0 !important;
  --color: #000 !important;
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-item ion-label {
  text-align: center;
}
